@amarillo: #e9ff21;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @amarillo;
    color: black;
    .margenes(50px, 0px)
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @amarillo;
    margin-bottom: 0px;
    margin-top: 35px; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px)
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon, .btn-reserva-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  