.jumbotron {
  background-color: #e9ff21;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e9ff21;
  margin-bottom: 0px;
  margin-top: 35px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon, .btn-reserva-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
